* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.box {
  background: red;
  display: flex;
  padding: 1rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* GRID */

.container-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-columns: repeat(5, 20%);
}
.container-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-columns: repeat(2, 10%) 60% repeat(2, 10%);
}
.container-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* fransion-bo'lak  */
  
}
